<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:rss5="http://rss5.org/">
  <channel>
   <title>{{default_values.site_name}} - {{rss_description}}</title>
   <link>{{default_values.home_url}}</link>
   <description>{{default_values.site_name}} {{default_values.site_description}} - {{rss_description}}</description>
   <pubDate>{{default_values.datetime}}</pubDate> 
   <language>en-us</language>
   <generator>{{default_values.app}}</generator>
   <docs>http://cyber.law.harvard.edu/rss/rss.html</docs>
  </channel>
 </rss>
